<div class="container">
    <div class="_homeTitle">
        Accueil
    </div>
    <div class="_homeWrapper">
        <div class="profileCard">
            <mat-card>
                <div class="profileImg">
                    <img src="assets/images/pi.jpg" class="candidatP" alt="Candidat profile">
                </div>
                <div class="profileContent">
                    <div class="mat-title">Informations</div>
                    <mat-nav-list>
                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <mat-icon matListIcon class="sideIcon">people</mat-icon>
                            <mat-label>{{name}}</mat-label>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <mat-icon matListIcon class="sideIcon">map</mat-icon>
                            <mat-label>{{adresse}}</mat-label>
                        </mat-list-item>
                        
                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <mat-icon matListIcon class="sideIcon">email</mat-icon>
                            <mat-label>{{email}}</mat-label>
                        </mat-list-item>


                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <mat-icon matListIcon class="sideIcon">book</mat-icon>
                            <mat-label>{{dateNaiss}}</mat-label>
                        </mat-list-item>


                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <mat-icon matListIcon class="sideIcon">phone</mat-icon>
                            <mat-label>{{phone}}</mat-label>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                    </mat-nav-list>
                    
                </div>
            </mat-card>
        </div>
        <div class="otherCard">
            <mat-card>
                <form [formGroup]="service.form">
                    <div>
                        <mat-form-field appearance='outline'>
                            <mat-label>Nom et prenoms</mat-label>
                            <input formControlName="fullname" type="text" matInput required>
                            <mat-error *ngIf="service.form.controls['fullname'].errors?.required" align="end">Cette champs est obligatoire!</mat-error>
                            <mat-error *ngIf="service.form.controls['fullname'].errors?.minlength" align="end">Entrer 4 caracteres minimum!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance='outline'>
                            <mat-label>Adresse</mat-label>
                            <input formControlName="adress" type="text" matInput required>
                            <mat-error align="end">Cette champs est obligatoire!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance='outline'>
                            <mat-label>Adresse email</mat-label>
                            <input formControlName="email" type="email" matInput required>
                            <mat-error *ngIf="service.form.controls['email'].errors?.required" align="end">Cette champs est obligatoire!</mat-error>
                            <mat-error *ngIf="service.form.controls['email'].errors?.email" align="end">Adresse email invalide!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance='outline'>
                            <input formControlName="birthDay" placeholder="Date de naissance" type="text" matInput [matDatepicker]="myDatepicker">
                            <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                            <mat-error align="end">Cette champs est obligatoire!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance='outline'>
                            <mat-label>Contact</mat-label>
                            <input type="text" formControlName="mobile" matInput required>
                            <mat-error *ngIf="service.form.controls['mobile'].errors?.required" align="end">Cette champs est obligatoire!</mat-error>
                            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength" align="end">Entrer 10 nombres minimum!</mat-error>
                        </mat-form-field>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button color="primary" value="1">Homme</mat-radio-button>
                            <mat-radio-button color="accent" value="2">Femme</mat-radio-button>
                            <mat-radio-button color="warn" value="3">Autre</mat-radio-button>
                        </mat-radio-group>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" [disabled]="service.form.invalid" type="submit">Valider</button>
                        </mat-card-actions>
                    </div>
                </form>
                <!-- <app-info></app-info> -->
            </mat-card>
        </div>
    </div>
</div>
