<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <mat-toolbar class="navbar">
            <div (click)="opened =! opened" class="btnNav">
                <mat-icon class="toggleIcon">menu</mat-icon>
            </div>
            <div>
              <div class="iconBox1">
                <mat-icon class="userIcon">logout</mat-icon>
              </div>
            </div>
          </mat-toolbar>
          <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>