<div class="logo">
  <span>Portfolio</span>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['']">
    <div class="iconBox">
      <mat-icon matListIcon class="sideIcon">dashboard</mat-icon>
    </div>
    <mat-label>Accueil</mat-label>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['divers']">
    <div class="iconBox">
      <mat-icon matListIcon class="sideIcon">list</mat-icon>
    </div>
    <mat-label>Divers</mat-label>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>